.gameboard {
	width: 696px;
	margin: 0 auto;
}
.message {
	text-align: center;
    font-size: 1.7rem;
    margin: 2rem 0;
    font-weight: bold;
}
.row {
	height: 75px;
}
.red {
	background-color: red;
}
.black {
	background-color: black;
}
.redfont {
	color: red;
}
.blackfont {
	color: black;
}
.tile {
	width: 85px;
	height: 75px;
	display: inline-block;
}
.marker {
	width: 57px;
	height: 57px;
	border-radius: 35px;
	border: 3px solid white;
	position: absolute;
	margin: 5px 9px;
}
.king {
	background-image: url(king_image00.png);
	background-size: 100%;
}
.selected-tile {
	background-color: yellow;
}